*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
h1{
	font-family: 'Baloo Bhai', cursive;
	font-weight: 900;
	font-size: 6em;
}
section{
	height: 100vh;
}
i{
	font-size: 1.5em;
}
#header{
	width: 100%;
	height: 3.25em;
	background-color: transparent;
	cursor: default;
	left: 0;
    line-height: 3.25em;
    position: fixed;
    text-align: right;
    top: 1em;
    z-index: 5;
    padding: 0 1.5em;
}
#header .logo {
			display: inline-block;
			height: inherit;
			left: 1.5em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header .logo a {
				font-size: 1.25em;
				color: #fff;
				font-weight: 600;
				text-decoration: none;
			}

				#header .logo a:hover {
					color: #fff;
				}

			#header .logo span {
				font-weight: 300;
				font-size: .8em;
				color: #FFF;
			}

/* Menu */

	#menu {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #005B7B;
		box-shadow: none;
		color: #fff;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 12;
	}

		#menu > ul {
			margin: 0 0 1em 0;
		}

			#menu > ul.links {
				list-style: none;
				padding: 0;
			}

				#menu > ul.links > li {
					padding: 0;
				}

					#menu > ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px rgba(255, 255, 255, 0.25);
						color: inherit;
						display: block;
						line-height: 3.5em;
						text-decoration: none;
					}

					#menu > ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#menu > ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

		#menu .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #fff;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#menu .close:before {
				content: "ï€";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#menu .close:before {
				font-size: 1.25em;
			}

			#menu .close:hover {
				color: #ffffff;
			}		

		#menu.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}		
#header > a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
#hero {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 8em 0 6em 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#hero:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.hero-title{
	z-index: 5;
}
.bg-img{
	width: 100%;
	height: auto;	
}
.inner {
    width: 60em;
}
.post {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.post .inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1.25s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1.25s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1.25s ease, -ms-transform 1s ease;
			transition: opacity 1.25s ease, transform 1s ease;
			opacity: 0;
			position: relative;
			z-index: 2;
		}

			.post .inner.current {
				opacity: 1;
			}

		.post:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			display: block;
			background-color: #000;
			height: 100%;
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
.post .more {
			background-color: rgba(255, 255, 255, 0.15);
			border: 0;
			border-radius: 1em 1em 0 0;
			bottom: -3em;
			color: rgba(255, 255, 255, 0.75);
			display: block;
			height: 3em;
			left: 50%;
			margin-left: -1.5em;
			overflow: hidden;
			position: absolute;
			text-indent: 3em;
			white-space: nowrap;
			width: 3em;
			z-index: 2;
			border-radius: 100%;
			text-decoration: none;
		}

			.post .more:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			.post .more.current {
				-moz-transition: height 0.2s ease;
				-webkit-transition: height 0.2s ease;
				-ms-transition: height 0.2s ease;
				transition: height 0.2s ease;
				-moz-animation: more 0.75s ease-out 2s forwards;
				-webkit-animation: more 0.75s ease-out 2s forwards;
				-ms-animation: more 0.75s ease-out 2s forwards;
				animation: more 0.75s ease-out 2s forwards;
			}

			.post .more:hover {
				background: none;
				color: rgba(255, 255, 255, 0.5);
				box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
			}

				.post .more:hover:before {
					color: rgba(255, 255, 255, 0.5);
				}

			.post .more:before {
				content: '\f107';
				color: #FFF;
				font-size: 2em;
				position: absolute;
				right: .425em;
				bottom: -.075em;
			}
.box {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		margin-bottom: 2em;
		overflow: hidden;
		padding: 4em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box h2 {
			margin: 0 0 .5em 0;
			color: #FFF;
		}

		.box  p {
			color: rgba(255, 255, 255, 0.5);
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

.wrapper {
    padding: 6em 0;
    position: relative;
}
#footer {
    background-color: #005B7B;
    color: #fff;
	padding: 6em 0 4em 0;
	height: 100vh;   
}
/* Footer */

	/*#footer {
		background-color: #F64747;
		color: #fdd1d1;
		padding: 6em 0 4em 0;
		background: #F64747;
	}*/

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #ffffff;
		}

		#footer blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#footer code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: #5a5a5a;
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: #676767;
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: #4d4d4d;
			}

			#footer input[type="submit"].alt,
			#footer input[type="reset"].alt,
			#footer input[type="button"].alt,
			#footer button.alt,
			#footer .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #ffffff !important;
			}

				#footer input[type="submit"].alt:hover,
				#footer input[type="reset"].alt:hover,
				#footer input[type="button"].alt:hover,
				#footer button.alt:hover,
				#footer .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#footer input[type="submit"].alt:active,
				#footer input[type="reset"].alt:active,
				#footer input[type="button"].alt:active,
				#footer button.alt:active,
				#footer .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#footer input[type="submit"].alt.icon:before,
				#footer input[type="reset"].alt.icon:before,
				#footer input[type="button"].alt.icon:before,
				#footer button.alt.icon:before,
				#footer .button.alt.icon:before {
					color: #5a5a5a;
				}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				background-color: #ffffff;
				color: #5a5a5a !important;
			}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: #fdd1d1;
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #5a5a5a;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: #5a5a5a !important;
		}

		#footer :-moz-placeholder {
			color: #5a5a5a !important;
		}

		#footer ::-moz-placeholder {
			color: #5a5a5a !important;
		}

		#footer :-ms-input-placeholder {
			color: #5a5a5a !important;
		}

		#footer .formerize-placeholder {
			color: #5a5a5a !important;
		}

		#footer ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer header p {
			color: #5a5a5a;
		}

		#footer table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#footer table th {
			color: #ffffff;
		}

		#footer table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer .inner {
			margin: 0 auto;
		}

		#footer h2 {
			margin-bottom: 2em;
			text-align: center;
		}

		#footer .icons {
			text-align: center;
			padding-top: 1em;
		}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
		}

		#footer .icon.round {
			display: block;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 100%;
			height: 4em;
			width: 4em;
			line-height: 4em;
			color: #FFF;
		}

			#footer .icon.round:hover {
				color: rgba(255, 255, 255, 0.25);
				background: none;
				box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin-bottom: 1.5em;
		}

			form .field.half {
				display: inline-block;
				width: 48%;
			}

				form .field.half.first {
					margin-right: 3%;
				}
label {
		display: block;
		font-size: 0.9em;
		font-weight: 300;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
		font-size: 1em;
		height: 2em;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}
ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			
.icon > .label {
    display: none;
}
